/* IMPORTS */
@import url("fonts.css");


:root {
    --teal: #007A80;
    --yellow: #FFDB4D;
    --blue: #53B9E7;
    --blue-hover: #6CCDF9;
    --blue-pressed: #006DB1;
    --blue-disabled: #97CDE6;
}

html, body {
    padding: 0px;
    margin: 0px;
}

footer {
    background-color: var(--teal);
    font-family: Inter;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size: 0.55em;
    color: white;
    
    img {
        height: 32px;
        width: auto;
    }
    a + a img{
        border: solid 1px white;
        border-radius: 5px;
    }
    .footer-icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 8px;
        margin: auto 8px;
    }
    .footer-coordinates {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    section + section + section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    section div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.icons-small {
    font-size: 16px !important;
    
}

button {
    background-color: var(--blue);
}

button:hover {
    background-color: var(--blue-hover);
}

button:active {
    background-color: var(--blue-pressed);
}

button:disabled {
    background-color: var(--blue-disabled);
}

.base-box {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: var(--yellow);
    margin: 10px;
}