/* IMPORTS */
@import url("fonts.css");

:root {
    --teal: #007A80;
    --yellow: #FFDB4D;
    --blue: #53B9E7;
    --blue-hover: #6CCDF9;
    --blue-pressed: #006DB1;
    --blue-disabled: #97CDE6;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.banner {
    text-align: center;
    padding: 20px;
}

main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligne les éléments à gauche */
    padding: 20px; /* Ajoute du rembourrage */
    width: 300px; /* Largeur fixe pour le formulaire */
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: var(--yellow);
    margin: 10px;
}

label {
    margin-top: 10px; /* Ajoute de l'espace au-dessus des labels */
}

input {
    margin-bottom: 15px; /* Ajoute de l'espace en dessous des inputs */
    width: 80%; /* Prend toute la largeur de la boîte */
    padding: 8px; /* Ajoute du rembourrage à l'intérieur des inputs */
    border: 1px solid #ccc; /* Bordure grise pour les inputs */
    border-radius: 4px; /* Coins arrondis pour les inputs */
}

.form-button {
    margin-top: 10px; /* Espace au-dessus du bouton */
}

button {
    background-color: var(--blue);
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: var(--blue-hover);
}

button:active {
    background-color: var(--blue-pressed);
}

button:disabled {
    background-color: var(--blue-disabled);
}

.switch-container {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Espace au-dessus du switch */
}

.switch {
    margin-right: 10px; /* Espace entre le switch et le texte */
}

/* Styles pour le footer et le header, si nécessaire */
footer, header {
    background-color: var(--teal);
    font-family: Stopbuck;
    height: 54px;
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    color: white;
}

footer {
    flex-shrink: 0;
    font-family: Inter;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.55em;
    color: white;
}