/* IMPORTS */
@import url("fonts.css");
@import url("footer_header.css");
@import url("quiz.css");

:root {
    --teal: #007A80;
    --yellow: #FFDB4D;
    --blue: #53B9E7;
    --blue-hover: #6CCDF9;
    --blue-pressed: #006DB1;
    --blue-disabled: #97CDE6;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: Inter;
}

body {
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Adia;
    text-align: center;
    font-size: 18px;
}

.search-menu {
    background-color: var(--yellow);
    padding: 0px;
    margin: 0px;
    h2 {
        margin: 0px;
    }
    /* span {
        font-size: 36px !important;
    } */
}

.search-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    flex: 1 0 auto;
}

button {
    background-color: var(--blue);
    border: none;
    border-radius: 10px;
    padding: 5px 5px;
    font-family: Inter;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    a:link, a:visited, a:hover, a:active {
        color: black;
        text-decoration: none;
    }
}

button:hover {
    background-color: var(--blue-hover);
}

button:active {
    background-color: var(--blue-pressed);
}

button:disabled {
    background-color: var(--blue-disabled);
}

.base-box {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background-color: var(--yellow);
    margin: 10px;
    /* padding: 10px 0px; */
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

#title-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 10px;
    align-items: center;
    button {
        font-size: 16px;
    }
}

#bottom-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 10px;
    span {
        grid-column: 2 / span 1;
        display: flex;
        justify-content: space-evenly;
    }
}

.next-theme {
    grid-column: 2 / span 1;
}

.inset-shadow {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3) inset;
}