/* IMPORTS */
@import url("fonts.css");


:root {
    --teal: #007A80;
    --yellow: #FFDB4D;
    --blue: #53B9E7;
    --blue-hover: #6CCDF9;
    --blue-pressed: #006DB1;
    --blue-disabled: #97CDE6;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: Inter;
}

body {
    display: flex;
    flex-direction: column;
}

footer, header {
    background-color: var(--teal);
    font-family: Stopbuck;
    height: 54px;
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    color: white;
    img {
        height: 36px;
        width: auto;
    }
    span {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.site-title {
    text-align: center;
    font-size: 28px;
    text-decoration: none;
    color: white;
}

.burger-icon {
    font-size: 36px !important;
}

.burger-icon:hover {
    cursor: pointer;
}

footer {
    flex-shrink: 0;
    font-family: Inter;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size: 0.55em;
    color: white;
    
    img {
        height: 32px;
        width: auto;
    }
    a + a img{
        box-sizing: border-box;
        border: solid 1px white;
        border-radius: 5px;
    }
    .footer-icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 8px;
        margin: auto 8px;
    }
    .footer-coordinates {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    section + section + section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    section div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.icons-small {
    font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Adia;
    /* width: 100%; */
    text-align: center;
    /* vertical-align: middle; */
}

h2 {
    font-size: 14px;
}

.search-menu {
    background-color: var(--yellow);
    padding: 0px;
    margin: 0px;
    h2 {
        margin: 0px;
    }
    /* span {
        font-size: 36px !important;
    } */
}

.search-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    flex: 1 0 auto;
}

.quiz-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-content: stretch;
    div {
        background-color: black;
        /* width: 100%;
        height: 100%; */
    }
}

/* .quiz-card {

} */

button {
    background-color: var(--blue);
    border: none;
    border-radius: 12px;
    font-family: Inter;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    a:link, a:visited, a:hover, a:active {
        color: black;
        text-decoration: none;
    }
}

button:hover {
    background-color: var(--blue-hover);
}

button:active {
    background-color: var(--blue-pressed);
}

button:disabled {
    background-color: var(--blue-disabled);
}

.base-box {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    background-color: var(--yellow);
    margin: 10px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}