/* IMPORTS */
@import url("fonts.css");

:root {
    --teal: #007A80;
    --yellow: #FFDB4D;
    --blue: #53B9E7;
    --blue-hover: #6CCDF9;
    --blue-pressed: #006DB1;
    --blue-disabled: #97CDE6;
}

html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: Inter;
}

body {
    display: flex;
    flex-direction: column;
}

footer, header {
    background-color: var(--teal);
    font-family: Stopbuck;
    height: 54px;
}

header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    color: white;
    img {
        height: 36px;
        width: auto;
    }
    span {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.site-title {
    text-align: center;
    font-size: 28px;
    text-decoration: none;
    color: white;
}

.burger-icon {
    font-size: 36px !important;
}

.burger-icon:hover {
    cursor: pointer;
}

footer {
    flex-shrink: 0;
    font-family: Inter;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size: 0.55em;
    color: white;
    
    img {
        height: 32px;
        width: auto;
    }
    a + a img{
        box-sizing: border-box;
        border: solid 1px white;
        border-radius: 5px;
    }
    .footer-icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 8px;
        margin: auto 8px;
    }
    .footer-coordinates {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
    section + section + section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    section div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.icons-small {
    font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Adia;
    /* width: 100%; */
    text-align: center;
    /* vertical-align: middle; */
}

h2 {
    font-size: 14px;
}

.search-menu {
    background-color: var(--yellow);
    padding: 0px;
    margin: 0px;
    h2 {
        margin: 0px;
    }
    /* span {
        font-size: 36px !important;
    } */
}

.search-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main {
    flex: 1 0 auto;
}

.quiz-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: stretch;
    padding: 0px 10px;
    div {
        background-color: black;
        /* width: 100%;
        height: 100%; */
    }
}

.quiz-card {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background-color: var(--yellow);
    img {
        padding: 5px 5px 0px 5px;
        object-fit: cover;
    }
    p {
        margin: 2px 0px;
        text-align: center;
    }
}

main {
    flex: 1 0 auto;
}

button {
    background-color: var(--blue);
    border: none;
    border-radius: 12px;
    font-family: Inter;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    a:link, a:visited, a:hover, a:active {
        color: black;
        text-decoration: none;
    }
}

button:hover {
    background-color: var(--blue-hover);
}

button:active {
    background-color: var(--blue-pressed);
}

button:disabled {
    background-color: var(--blue-disabled);
}

.base-box {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background-color: var(--yellow);
    margin: 10px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* CSS compte_admin */
.compteadmin{
    background-color: #FFDB4D;
    border-radius: 20px;
}

 .save-button {
    background-color: #53B9E7;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px auto;
    display: block;
}
.back-button { 
  display: left;
  background-color: #53B9E7;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px auto;
  }



.quizz-create, .quizz-termined {
    margin-bottom: 20px;
  
}

.quizz-header {
    display: flex;
    justify-content: end; /* Aligne les enfants horizontalement avec un espace entre eux */
    align-items: center; /* Centre verticalement les enfants */
    margin-bottom: 15px; /* Ajoute un espace en bas */
    position: relative; /* Nécessaire pour le centrage relatif */
}

.quizz-header h3 {
    position: absolute; /* Permet de centrer indépendamment des autres éléments */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Ajuste pour garder le centre exact */
    margin: 0; /* Supprime les marges par défaut */
    text-align: center; /* Garde le texte centré à l'intérieur du <h3> */
}

.create-quiz-button {
    background-color: #53B9E7;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 8px 15px;
    color: white;
    font-size: 14px;
}


.top-bar h2, .account-info h3, .account-info p {
    text-align: center;
}


.account-form {
    max-width: 400px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-form label {
    margin: 5px 0;
    font-weight: bold; 
}

.account-form input {
    width: 70%; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 15px; 
}
table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 10px;
    border-radius: 10px; /* Arrondi des coins de la table */
    overflow: hidden; /* Nécessaire pour que l'arrondi soit visible si la table a un fond */
    border: 1px solid #ddd;
}

th, td {
    text-align: center; 
    vertical-align: middle;
    padding: 8px;
    background-color: white;
}

th {
    background-color: #f4f4f4;
}

/* CSS compte_stagiaire */

.comptestag{
    background-color: #FFDB4D;
    border-radius: 20px;
}

 .save-button {
    background-color: #53B9E7;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px auto;
    display: block;
}
.back-button { 
  display: left;
  background-color: #53B9E7;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px auto;
  }



.quizz-loading, .quizz-termined {
    margin-bottom: 20px; 
}

.quizz-header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin-bottom: 15px; 
}

.create-button {
  background-color: #53B9E7;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: auto; /* Pousse le bouton à droite */
}

.top-bar h2, .account-info h3, .account-info p {
    text-align: center;
}


.account-form {
    max-width: 400px;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-form label {
    margin: 5px 0;
    font-weight: bold; 
}

.account-form input {
    width: 70%; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 15px; 
}
table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 10px;
}

th, td {
    text-align: center; 
    padding: 10px; 
    vertical-align: middle;
}

thead th {
    background-color: #f2f2f2; 
    font-weight: bold;
}
